:root:not([data-theme=dark]), [data-theme=light] {
    --primary: rgb(229, 55, 52);
    --primary-hover: rgb(158, 43, 41);
    --primary-focus: rgba(193, 16, 16, 0.125);
    --modal-overlay-background-color: rgba(226,220,213,0.7);
}

:root:not([data-theme=light]), [data-theme=dark] {
    --primary: rgb(229, 55, 52);
    --primary-hover: rgb(250, 60, 70);
    --primary-focus: rgba(193, 16, 16, 0.25);
    --modal-overlay-background-color: rgba(52,51,50,0.8);
}

body {
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: larger;
}

p {
    font-size: small;
}

hgroup {
    margin-bottom: 0;
}

hgroup>:last-child {
    font-size: small;
}

body>nav {
    box-shadow:0 1px 0 rgba(115, 130, 140, 0.2);
}

body>main {
    padding-top: 30px;
}

#theme-btn {
    cursor: pointer;
    text-decoration: none;
}

* {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    margin: 0 auto;
    width:400px;
    height: 400px;
    display: grid;
    padding: 0;
}

.grid-16 {
    grid-template-columns: repeat(16,1fr);
}

.content {
    display: flex;
}

#size-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square {
    border: 1px ridge;
}